/*设置页面的基础样式*/
	*{margin: 0px;padding: px;}
/*设置header头部份的大小*/
	#header{width: 100%;height: 45px;}
/*设置导航栏的样式*/
	#header_nav{position: absolute;right: 96px;top: 22px;}
	#header_nav li{float: left;list-style-type: none;margin-left: 24px;}
	#header_nav li{color: #00c;font-size: 13px;font-weight: 700px;line-height: 24px;}
	
/*设置main主体部分的大小*/
	#main{width: 100%;height: 700px;text-align: center;}
	#img_logo{margin-top: 180px;margin-bottom: 40px;}
	/*设置搜索框样式*/
	input[type=text]{height: 34px;width: 539px;border: solid 1px #4992FF;background-image: url(../img/inp.png);background-repeat: no-repeat;background-position-x: 505px;background-position-y: 2px;}
	input[type=submit]{height: 34px;width: 100px;font-size: 15px;color: #fff;background-color: #3385ff;border: solid #3385ff;letter-spacing: 1px;position: relative;right: 5px;top: 1px;}
/*设置footer底部部分的大小*/
	#footer{width: 100%;height: 206px;text-align: center;}
/*使用伪类给标签添加样式*/
	#header_nav li a:hover{color: #3385ff;}
